<%- include("partials/header"); -%>
<div class="container">
  <h1>Contact</h1>
  <h5>
    <p>
      <a class="more-text" href="mailto:<%= emailC %>">Send us a message</a>
    </p>
    <p>
      <a class="more-text" href="https://www.emiyaconsulting.com">Visit Emiya Consulting</a>
    </p>
  </h5>
</div>
<%- include("partials/footer"); -%>