<!DOCTYPE html>
<html lang="en">
  <body>
    <div class="footer-padding">
      <div class="footer">
        <p>Made by Emiya Consulting in Issaquah, Washington</p>
      </div>
    </div>
  </body>
</html>
