<%- include("partials/header"); -%>
<div class="container">
  <h1>Home</h1>
  <p>
    <%= startingContent %>
  </p>
  <% postContent.forEach(entry => console.log(entry.titleText)); %>
</div>
<%- include("partials/footer"); -%>